// Arial free font
html,body {
    font-family:Arial, sans-serif;
    line-height: 1.62 !important;
     -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    button.btn {
          font-weight: bold;
    }

// for english fildes

    .en {
        font-family: Arial, sans-serif;
        &::placeholder {
            font-family:  Arial  !important;
            transition: .6s all;
        }
        &:focus {
            direction: rtl;
        }
    }
}

.font-xs {
    font-size: .75rem !important;
}

.font-sm {
    font-size: .85rem !important;
}

.font-lg {
    font-size: 1rem !important;
}

.font-xl {
    font-size: 1.25rem !important;
}

.font-2xl {
    font-size: 1.5rem !important;
}

.font-3xl {
    font-size: 1.75rem !important;
}

.font-4xl {
    font-size: 2rem !important;
}

.font-5xl {
    font-size: 2.5rem !important;
}
